Flask==3.1.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.45
Werkzeug==3.1.4
Jinja2==3.1.6

pandas==2.2.0
numpy==1.26.4
scikit-learn==1.5.2

fpdf==1.7.2
python-dotenv==1.0.0
requests==2.31.0

PyMySQL==1.1.0
mysql-connector-python==8.2.0
cryptography==42.0.2
pyarrow
gunicorn==22.0.0
waitress==3.0.0
